<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">SuperLists</a>
        <form class="form-inline my-2 my-lg-0" method="POST" action="#">
            {% csrf_token %}
            <span>Enter email to log in:</span>
            <input class="form-control mr-sm-2" type="email" placeholder="E-mail">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        {{ form.text }} {% csrf_token %} {% if form.errors %}
                        <div class="form-control is-invalid">
                            <span class="help-block">{{ form.text.errors }}</span>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% block table %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/list.js"></script>
    <script>
        $(() => {
            window.SuperLists.initialize();
        });
    </script>
    </script>

</body>

</html>